*.md text eol=lf
*.txt text eol=crlf
*.json text eol=lf
*.manifest text eol=lf
*.lua text eol=lf
upstream/HUDTweaks/main.lua -text
current-json/IA_Move.json -text
current-json/DA_FocusConfig.json -text
upstream/input/RIP_GamepadAlternate.json -text
*.uasset binary
*.uexp binary
*.bin binary
*.pak binary
*.ucas binary
*.utoc binary
upstream/input/DT_InputMapping.json -text whitespace=cr-at-eol
